# Xcode
#

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
.DS_Store
appledoc
.cache

# Carthage
Carthage/Checkouts
Carthage/Build

# CKSwiftXX Include Path Fixups
ComponentKit/Accessibility/ComponentKit
ComponentKit/Analytics/ComponentKit
ComponentKit/Base/ComponentKit
ComponentKit/ComponentKit
ComponentKit/Components/ComponentKit
ComponentKit/Core/Action/ComponentKit
ComponentKit/Core/ComponentContext/ComponentKit
ComponentKit/Core/ComponentKit
ComponentKit/Core/ComponentTree/ComponentKit
ComponentKit/Core/ComponentTree/Protocols/ComponentKit
ComponentKit/Core/Render/ComponentKit
ComponentKit/Core/Scope/ComponentKit
ComponentKit/Core/Swift/ComponentKit
ComponentKit/Core/Trigger/ComponentKit
ComponentKit/DataSources/Common/ComponentKit
ComponentKit/DataSources/ComponentKit
ComponentKit/Debug/ComponentKit
ComponentKit/HostingView/ComponentKit
ComponentKit/LayoutComponents/ComponentKit
ComponentKit/RenderCoreHeaders/ComponentKit
ComponentKit/Spec/ComponentKit
ComponentKit/StatefulViews/ComponentKit
ComponentKit/TransactionalDataSources/Common/ComponentKit
ComponentKit/TransactionalDataSources/Common/Internal/ComponentKit
ComponentKit/TransactionalDataSources/ComponentKit
ComponentTextKit/ComponentTextKit
ComponentTextKit/TextKit/ComponentTextKit
ComponentTextKit/Utility/ComponentTextKit
RenderCore/Base/RenderCore
RenderCore/Config/RenderCore
RenderCore/Geometry/RenderCore
RenderCore/RenderCore
RenderCore/Utilities/RenderCore
RenderCore/View/RenderCore
RenderCoreLayoutCaching/RenderCoreLayoutCaching
